:root {
    /* content size */
    --sideNavBarWidth: 200rem;
    --mainContentWidth: calc(100% - 200rem);
    --hederHeight: 70rem;
    --contentPadding: 30rem;

    /* font size */

    /* font color */
    --homeColor: #fff;
    --whiteColor: #fff;
    --mainFontColor: #fff;
    --secondaryFontColor: #ACB5C5;

    /* header 导航栏侧边栏 头部*/
    --headerBgColor: #1B1B1E;
    --headerColor: #fff;

    /* tabs */
    --tabsBackground: #2E3138;
    --tabsBoxShadow: #1A1C1F;
    --tabsBoxShadowInset: #3E434E;
    --tabsBorder: #3E434E;
    --tabsButColor: #fff;
    --tabsBntActivityColor: #F0B90A;
    --perrectColor: #ACB5C5;
    --holdingBgColor: #3D434F;
    --holdingColor: #ACB5C5;
    --infoBorderColor: #505562;

    /* tags */
    --tagsBorderColor: #F4D65B;
    --tagsColor: #F4D65B;

    /* All time activity */
    --allTimeActivityBoxShadow: #1A1C1F;
    --allTimeActivityBoxShadowInset: #3E434E;
    --allTimeActivityBoxBorder: #3E434E;
    --sentBgColor: #4583FF;
    --callBgColor: #F0B90A;
    --datePickBorder: #848A97;
    --portfoiloBorder: #1A1C1F;
    --balanceItemBorder: #2E3138;

    /* main contact interaction */
    --mainContactInteractionBorderTopColor: #3D434F;
    --mainContactInteractionBorderColor: #4E5461;

    /* table header */
    --tableHeaderBorderBottomColor: #3D434F;
    --tableHeaderColor: #ACB5C5;
    --tableRowBgColor: #2E3138;
    --tablePortRowBgColor: #3D434F;
    --tablePortHeaderBgColor: #525865;
    --tablePortBorderColor: #30333B;
    --tableTagColor: #F4D65B;
    --watchBorder: #1A1C1F;

    --clusterBorderColor: #57627B;
    --cluterOverviewTableBorder: #57627B;
    --cluterOverviewTableColBorder: #57627B;
    --cluterBColor: #57627B;
    --cluterOverviewTablePadding: 0 0;
    --cluterOverviewTableBgColor: #3D434F;
    --blockHeaderBorderBottom: #2E3745;
    --portfolioBgColor: #2E3138;
    --poolBgColor: #464D5A;

    /* background color */
    --mainColor: #3D434F;
    --secondaryColor: #ACB5C5;
    --thirdColor: #2E3138;
    --fourthColor: #F3BA2F;
    --bodyBgColor: #101015;
    --chartBorderColor: #525865;
    --loginButtonBgColor: #F3BA2F;
    --sunMenuBgColor: #525865;
    --sunMenuHoverBgColor: #464D5A;
    --personalInfoBgColor: #1B1B1B;
    --addIconColor: #8A96AD;
    --radioColor: #F4D65B;
    --borderShadowColor: #1A1C1F;
    --ldColor: #ACB5C5;

    /* constants var */
    --sideNavBarBg: var(--mainColor);
    --sideNavBarActiveBg: var(--thirdColor);
    --borderColor: var(--fourthColor);
    --sideIconColor: #8F9BB3;
    --searchBoxBgColor: #464D5A;

    /* modal */
    --modalBgCOlor: linear-gradient(225deg, #3E434E 0%, #1A1C1F 100%);
    --modalAddressColor: #fff;
    --modalAddressDetailBgColor: #3D434F;
    --modalItemBgColor: #2E3138;
    --modelItemBorderColor: #2E3138;
    --modalblobkbg: #2E3138;
    --userBlockBgColor: linear-gradient(224deg, #3E434E 0%, #23262B 100%);
    --userBlockshadow: 0rem 4rem 16rem 0rem #272A30;
    --searchBg: #3D434F;
    --tipModalBg: rgba(29, 31, 37, .8);
    --treeLineColoe: #fff;
    --drawBg: #24272D;
    --mainGroupBg: #574F3B;
    --childDeep: #fff;
    --drawerTabColor: #F0B90A;
    --toolBoxBorder: #586173;
    --nextpagecolor: #2E3138;
    --searchHeaderBg: rgba(61, 67, 79, .8);
    --toolIconFill: #c8cace1c;
    --notableTitle: #F0B90A;
    --notableLabel: #ACB5C5;
    --notableVal: #fff;
    --biggestItemColor: #ACB5C5;
    --biggestBg: #2E3138;
    --biggestBorder: #4E5461;
    --entityVitalikBg: #F0B90A;
    --trackButBg: #574F3B;
    --tarckSolid: #F3BA2F;
    --tsHashColor: #F0B90A;
    --collaspBg: #272A30;
    --collaspHeaderBorder: #4E5461;
    --pagecolor: #1B1B1B;
    --recipientBgColor: #454E5D;
    --recipientLightBgColor: rgba(69, 78, 93, 0.3);


    /* ------------ mabile ------------- */
    --mobileHeaderBgColor01: #3E434E;
    --mobileHeaderBgColor02: #464D5A;

    --mobileIconColor01: #ACB5C5;

    --mobileFontColor01: #fff;
    --mobileFontColor02: #F3BA2F;

    --mobileBgUrl01: url(../images/bgImg);

    /* insight */
    --child-01-color: #24272D;
    --child-02-color: #fff;
    --child-03-color: #ACB5C5;
    --child-04-color: #3AC89F;
    --child-05-color: #3A3D4B;
    --child-06-color: #030a03;
    --child-07-color: #3AC69E;
    --child-08-color: #2F313C;
    --child-09-color: #050505;
    --child-10-color: #4B525E;
    --child-11-color: #323742;
    --child-12-color: #23B899;
    --child-13-color: #4583FF;
    --child-14-color: #FFD302;
    --child-15-color: #23252C;
    --child-16-color: #F5F5F5;
    --child-17-color: #282D37;
    --child-18-color: #8C9BA5;
    --child-19-color: #1D2126;
    --child-20-color: #848A97;
    --child-21-color: #2E3138;
    --child-22-color: #000000;
    --child-23-color: #2D2E36;
    --child-24-color: #3D4050;
    --child-25-color: #1A7F62;
    --child-26-color: #26282F;
    --child-27-color: #12141A;
    --child-28-color: #2D4142;
    --child-29-color: #323947;
    --child-30-color: #AFB7C9;
    --child-31-color: #1C1D20;
    --child-32-color: #23252D;
    --child-33-color: #59677E;
    --child-34-color: #333;
    --child-35-color: #385152;
    --child-36-color: #3E434E;
    --child-37-color: #454C57;
    --child-38-color: #2C7D69;
    --child-39-color: #737B83;
    --child-40-color: #FF0000;
    --child-41-color: #1C1E25;
    --child-42-color: #696969;
    --child-43-color: #2E3139;
    --child-44-color: #1B1B1E;
    --child-45-color: #2E303A;
    --child-46-color: #21232A;
    --child-47-color: #2D3138;
    --child-48-color: #3A3E47;
    --child-49-color: #33A384;
    --child-50-color: #1F1F26;
    --child-51-color: #37373D;
    --child-52-color: #7285A4;
    --child-53-color: #4E5461;
    --child-54-color: #23252B;
    --child-55-color: #233033;
    --child-56-color: #19191D;
    --child-57-color: #CD7C5A;
    --child-58-color: #757678;
    --child-59-color: #A74747;
    --child-60-color: #25272C;
    --child-61-color: #383C43;
    --child-62-color: #1C1E23;
    --child-63-color: #ffea29;
    --child-64-color: #8d29ff;
    --child-65-color: #1B1B1B;
    --child-66-color: #1B3539;
    --child-67-color: #35415C;
    --child-68-color: #35415C;
    --child-69-color: #CCD6DD;
    --child-70-color: #2b7bb9;
    --child-71-color: #42434B;
    --child-72-color: #409469;
    --child-73-color: #57BE89;
    --child-74-color: #0974FD;
    --child-75-color: #57627B;
    --child-76-color: #1FE1AA;
    --child-77-color: #58B79C;
    --child-78-color: #5D9686;
    --child-79-color: #66837A;
    --child-80-color: #586360;
    --child-81-color: #2B2D36;
    --disabled-color: #ccc;

    --header-bg: var(--child-01-color);
    --header-login-but-bg: var(--child-04-color);
    --menu-color: var(--child-02-color);
    --menu-title-color: var(--child-03-color);
    --menu-icon-color: var(--child-07-color);
    --menu-selected-color: var(--child-07-color);
    --menu-item-bg: var(--child-05-color);

    --conten-info-name-color: var(--child-02-color);
    --content-info-label-color: var(--child-03-color);
    --content-info-active-color: var(--child-04-color);

    --block-bg: var(--child-08-color);
    --tab-bg: var(--child-11-color);

    --block-border: var(--child-09-color);
    --content-border: var(--child-10-color);
    --item-border: var(--child-07-color);
    --hot-border: var(--child-25-color);

    --chart-title1-color: var(--child-12-color);
    --chart-title2-color: var(--child-13-color);
    --chart-title3-color: var(--child-14-color);
    --chart-title4-color: var(--child-19-color);
    --chart-bg-color: var(--child-23-color);

    --table-cell-bg: var(--child-15-color);
    --table-tr-bg: var(--child-17-color);
    --scroll-bg: var(--child-16-color);
    --scroll-thumb: var(--child-20-color);
    --scroll-track: var(--child-21-color);
    --loginDisableBg: var(--disabled-color);
    --login-bg: var(--child-34-color);
    --login-bg2: var(--child-38-color);
    --logon-bg3: var(--child-39-color);
    --pagination-item-color: var(--child-18-color);
    --modal-bg: var(--child-35-color);
    --progress-bg: var(--child-36-color);
    --search-border: var(--child-37-color);

    --tag-active-color: var(--child-22-color);

    --home-color1: var(--child-30-color);
    --home-color2: var(--child-31-color);

    --hone-border1: var(--child-33-color);

    --home-item-bg: var(--child-24-color);
    --home-bg1: var(--child-26-color);
    --home-bg2: var(--child-27-color);
    --home-bg3: var(--child-28-color);
    --home-bg4: var(--child-29-color);
    --home-bg5: var(--child-32-color);
    --hashkey-child-01-clolor: #fff;
    
    --hashkey-child-01-clolor: #fff;
    --hashkey-child-02-clolor: #3AC89F;
    --hashkey-child-03-clolor: #252933;
    --hashkey-child-04-clolor: #97A7C1;
    --hashkey-child-05-clolor: #1B5947;
    --hashkey-child-06-clolor: #4992FF;
    --hashkey-child-07-clolor: #59677E;
    --hashkey-child-08-clolor: #78EBC9;
    --hashkey-child-09-clolor: #F5F5F5;
    --hashkey-child-10-clolor: #D3E8E2;
    --hashkey-child-11-clolor: #FCFDFC;
    --hashkey-child-12-clolor: #E6E6E6;
    --hashkey-child-13-clolor: #AFB7C9;
    --hashkey-child-14-clolor: #CFD6E4;
    --hashkey-child-15-clolor: #586173;
    --hashkey-child-16-clolor: #E3EEEB;
    --hashkey-child-17-clolor: #4583FF;
    --hashkey-child-18-clolor: #F0B90A;
    --hashkey-child-19-clolor: #78859C;
    --hashkey-child-20-clolor: #D2FFF3;
    --hashkey-child-21-clolor: #AAE8D1;
    --hashkey-child-22-clolor: #FF6E76;
    --hashkey-child-23-clolor: #D9D9D9;
    --hashkey-child-24-clolor: #ECF6F5;
    --hashkey-child-25-clolor: #FAFAFA;
}